@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --font-family: 'VT323';
    --maincolor: #ea5730;
    --description: #5e6265;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--font-family);
}

body {
    background-color: black;
}

.container {
    width: 1200px;
    margin: auto;
}

a {
    color: var(--maincolor);
    text-decoration: none;
    text-transform: uppercase;
}

header nav a {
    color: white;
    font-size: 22px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--maincolor);
    padding: 20px 0;
}

header h1 {
    text-transform: uppercase;
    font-size: 25px;
}

header nav {
    display: flex;
    gap: 30px;
}

.hero {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content h1 {
    font-size: 80px;
    color: var(--maincolor);
    text-transform: uppercase;
}

.content p {
    font-size: 18px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 50px;
}

.links div {
    width: 200px;
    border: 3px solid #1f2120;
    padding: 5px 12px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.links div:nth-child(1) {
    background-color: var(--maincolor);
    border: none;
}

.links div a {
    color: white;
}

.links div i {
    color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 35px;
}

.gallery .item img {
    width: 100%;
    border-radius: 5px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
}

.item .content p {
    color: var(--description);
}

.category {
    display: flex;
    gap: 20px;
}

.category a {
    border: 2px solid var(--maincolor);
    padding: 5px 10px;
    border-radius: 30px;
    color: white;
}

.item h2 {
    color: white;
    font-size: 40px;
    text-transform: uppercase;
}

.load {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5px 10px;
    margin: auto;
    width: 150px;
    border: 2px solid var(--maincolor);
    border-radius: 20px;
    margin-bottom: 100px;
}

.load a {
    font-size: 22px;
}

.load a, .load i {
    color: white;
}

footer {
    background-color: #101010;
}

.footer {
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 100px;
    padding: 50px 0px;
}

.footer-title {
    text-transform: uppercase;
    width: 17%;
    font-size: 25px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.footer-links a {
    font-size: 20px;
    color: var(--description);
}

.active {
    color: white !important;
}

.subscription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.subscription h3 {
    color: var(--maincolor);
    font-size: 22px;
    text-transform: uppercase;
}

.subscription input[type=text] {
    width: 100%;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #101010;
    border: 2px solid var(--maincolor);
    border-radius: 30px;
    font-size: 18px;
}

.subscription form {
    display: flex;
    gap: 10px;
}

.subscription form p {
    color: var(--description);
}

.subscription form a {
    text-decoration: underline;
    color: white;
    text-transform: capitalize;
}